Observations

1.Distribution between Female and Male mice are very close to 50/50

2.Ramicane and Capomulin final Tumor Volume seem to be the lowest of the four

3.The more weight a mouse has seems to cause a higher Tumor Volume

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
from scipy.stats import linregress
import pandas as pd
import numpy as np

In [2]:
#adding data
mouse_data_to_load = "Resources/Mouse_metadata.csv"
Studies_data_to_load = "Resources/Study_results.csv"

In [4]:
#transfering to pandas dataframe
mouse_data_df = pd.read_csv(mouse_data_to_load)
studies_data_df = pd.read_csv(Studies_data_to_load)

In [5]:
#merging csvs
combined_data_df = pd.merge(mouse_data_df, studies_data_df, how='right', on='Mouse ID')

In [6]:
combined_data_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [7]:
#how many mice
total_mice = len(combined_data_df['Mouse ID'].unique())
total_mice

249

In [8]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.
duplicate_mice_id = combined_data_df.loc[combined_data_df.duplicated(subset=['Mouse ID', 'Timepoint']), 'Mouse ID'].unique()
print(duplicate_mice_id)

['g989']

In [9]:
# Optional: Get all the data for the duplicate mouse ID
combined_data_df.loc[combined_data_df.loc[:, 'Mouse ID']=='g989', :]

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [10]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID
#clean_dataframe = combined_data_df.loc[:, 'Mouse ID']=='g989'
clean_dataframe = combined_data_df.loc[:, 'Mouse ID'].isin(duplicate_mice_id)==False
#clean_dataframe_df = combined_data_df.loc[clean_dataframe, :]
clean_dataframe_df = combined_data_df.loc[clean_dataframe, :]
clean_dataframe_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4